@model KaraokeProject.Models.TaiKhoan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title mt-5">Tạo tài khoản mới</h3>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Create", "TaiKhoans", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4" style="margin: 0 auto;">
                <div class="row formtype">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaTaiKhoan, "Mã tài khoản")
                            <input type="text" readonly class="form-control" value="@ViewBag.ID" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TenDangNhap, "Tên đăng nhập")
                            @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TenNguoiDung, "Tên người dùng")
                            @Html.EditorFor(model => model.TenNguoiDung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MatKhau, "Mật khẩu")
                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" value="Thực hiện" class="btn btn-success btn-block mt-0 search_button" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="button" value="Hủy" class="btn btn-danger btn-block mt-0 " onclick="window.location.href = '@Url.Action("Index", "LoaiDichVus")'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
