@model IEnumerable<KaraokeProject.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int index = 0;
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="mt-5">
                    <h4 class="card-title float-left mt-2">Danh sách Hóa đơn</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body booking_card">
                    <div class="table-responsive">
                        <table class="datatable table table-stripped table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày lập</th>
                                    <th>Nhân viên lập</th>
                                    <th>Khách hàng</th>
                                    <th>Phòng</th>
                                    <th>Tổng tiền</th>
                                    <th class="text-right">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                index++;

                                            }
                                            @index
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NgayLapHD)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DatPhong.KhachHang.TenKhachHang)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DatPhong.PhongHat.TenPhongHat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TongTien) VND
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v ellipse_color"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="@Url.Action("Details","HoaDons", new { id = item.MaHoaDon })">
                                                        <i class="fas fa-pencil-alt m-r-5"></i> Xem chi tiết
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>