@model IEnumerable<KaraokeProject.Models.LoaiPhong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int index = 0;
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="mt-5">
                    <h4 class="card-title float-left mt-2">Danh sách Loại Phòng hát</h4>
                    <a href="@Url.Action("Create","LoaiPhongs")" class="btn btn-primary float-right veiwbutton">Thêm loại</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body booking_card">
                    <div class="table-responsive">
                        <table class="datatable table table-stripped table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã loại phòng</th>
                                    <th>Tên loại phòng</th>
                                    <th>Giá phòng</th>
                                    <th class="text-right">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                index++;

                                            }
                                            @index
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaLoaiPhong)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenLoaiPhong)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GiaPhong)
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v ellipse_color"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="@Url.Action("Edit","LoaiPhongs", new { id = item.MaLoaiPhong })">
                                                        <i class="fas fa-pencil-alt m-r-5"></i> Sửa
                                                    </a>
                                                    <a class="dropdown-item" href="@Url.Action("Delete","LoaiPhongs", new { id = item.MaLoaiPhong })">
                                                        <i class="fas fa-trash-alt m-r-5"></i> Xóa
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
